.cpbox {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        color: rgb(8, 82, 172);
    }

    h1 {
        font-size: x-large;
        padding-bottom: 12px;
    }

    h2 {
        font-size: large;
        padding-bottom: 6px;
    }

    h3 {
        font-size: larger;
        padding-bottom: 4px;
    }

    h4 {
        font-size: medium;
        /* padding-bottom: 6px; */
    }

    h5 {
        font-size: small;
        /* padding-bottom: 4px; */
    }

    h6 {
        font-size: smaller;
        /* padding-bottom: 2px; */
    }

    p {
        padding-bottom: 20px;
    }

    ul,ol {
        margin-bottom: 20px;
    }

    pre {
        white-space: pre-line;
        margin-bottom: 20px;
    }

    pre>code {
        border-radius: 0px 0px 10px 10px !important;
        padding: 1em !important;
        padding-top: 10px !important;
        white-space: pre;
        overflow-x: auto;
        padding-left: 0px;
    }

    code {
        &:not(.hljs) {
            //   background-color: gray;
            font-style: italic;
            font-weight: bolder;
            color: rgb(122, 122, 122);
            &::before,
            &::after {
                content: "`";
            }
        }
    }

}

.dark .cpbox {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 400;
        color: rgb(116, 232, 253);
    }
}